.drag {
	position: absolute;
}
.spacer{
	height: 50px;
	width: 2px;
	padding: 10px 0px;
}
.object {
	border: 1px solid DimGray;
	height: 200px;
}
.object-type-title {
	border-right: 1px solid DimGray;
	height: 198px;
}
.object-type {
	background-color: white;
	position: relative;
	top: -10px;
	margin: 0;
	padding: 0 4px;
	width: 40%;
}